<footer class="footer-distributed">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="footer-left">
      <h3>Travel<span>Experts</span></h3>
      <p class="footer-links">
        <a href="/">Home</a>
        <a href="/packages">Packages</a>
        <a href="/agencies">Contact</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      </p>
      <p class="footer-company-name">Travel Experts &copy <%= moment().format('YYYY')%> Designed by Team Bitz and Bytes</p>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>About Our Company:</span>
          Travel Experts is a team of dedicated professionals to make your vacation experience unforgettable! Follow us on:
      </p>
    <div class="footer-icons">
      <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
      <a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a>
      <a href="https://maps.google.ca"><i class="fa fa-google"></i></a>
  </div>
</footer>
