<header> 
  <div id="navbar">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <a href="/" id="logo" class="fas fa-umbrella-beach fa-4x" aria-hidden="true" style="font-size:35px;color:black;">Travel Experts</a>
        <div id="navbar-right">
        <a href="/"><i class="fa fa-home"></i>Home</a>
        <a href="/packages"><i class="fas fa-images"></i>Packages</a>
        <a href="/agencies"><i class="fas fa-file-signature"></i>Contact Us</a>
        <a href="/register"><i class="fa fa-registered" aria-hidden="true"></i>Register</a>
        <a href="/login"><i class="fas fa-sign-in-alt"></i>Log In</a>
      </div>
    </div>
</header>