<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 404 page must use these links, partial css will not work on an error page-->
  <link rel="stylesheet" type="text/css" href="/css/main.css"> 
  <title>Travel Experts-404 Page Not Found</title>
</head>
<body>
  <%- include('./partials/header'); %>

  <h2 class= "page404"><%=title%>Error! Page Not Found.</h2>

  <%- include('./partials/js-global'); %>
  <%- include('./partials/footer'); %>
</body> 
</html>

