<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts Main Page</title>
  
  <%- include('./partials/css-global'); %>
  
</head>

  <%- include('./partials/header.ejs'); %>

<body>
  <!-- Welcome message for the users -->
  <div class="h1">
    <h1 id="gallery">EXPERIENCE THE UNIQUENESS WITH US!</h1>
    <a class="button-sign-up" href="/register"></i> SIGN UP FOR FREE</a>
  </div> 
</body> 
<main>

</main>

</body>

<%- include('./partials/foot'); %>

</html>