    /* ------------------ */
 /* BOOKING CONTAINER */
/* ------------------ */

/* Adjust container  */ 

.packages {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

figure {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

button {
  width: 100px;

}
img {
  margin-top: 40px;
}