/* ------------------ */
/* BOOKING CONTAINER */
/* ----------------- */

.book {
  margin: 0; 
  padding: 0;    

  background-image: url("../images/main_page.jpg"); 
  background-position: center;
  background-size: cover;
}

/* Adjust container  */ 
.container_book {
  width: 40%; 
  margin: auto;  
  padding: 10px;
  
  font-size: 35px;
  font-family: "Kurale", sans-serif;  
 
  border-radius: 7px;   
  box-shadow: 10px 10px 15px 2px lightblue;
  background-color: #354d8f; 
}

/* Placement adjustments */
input[type=date], input[type=text] {
  width: 100%;
  margin: 8px 0; 
  padding: 15px; 

  display: inline-block;  
  border: 2px solid #ccc; 
  box-sizing: border-box; 

  font-size: 15px;
  font-family: "Karla", sans-serif;   
}

  /* ------------------ */
 /* BOOKING CONTAINER */
/* ------------------ */

/* Adjust container  */ 
.packages {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

figure {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

img {
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .container_book {
    width: 85%;
  }
}
