   /*---------------  */
 /* LOGIN CONTAINER */
/* --------------- */

/* Adjust login container */ 

.container_login {
  padding: 25px;
  width: 50%; 
  font-size: 35px;  
  background-color: #d17db8; 
  border-radius: 7px;   
  box-shadow: 10px 10px 15px 2px lightblue;
  margin: auto;  
}
 
/* Adjust login legend */ 

.container_login legend {
  padding: 20px;
  text-align: center;
}

/* Add Lorem Picsum background  */ 
.mountain {
  margin: 0; 
  background-image: url("https://picsum.photos/id/102/2000/2000"); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  padding: 0;    
}


/* Box placement adjustments */
#pass_login, #email_login {
  width: 100%;
  padding: 15px;
  margin: 8px 0;  
  display: inline-block;  
  border: 2px solid #ccc; 
  box-sizing: border-box; 
  font-size: 15px;
  font-family: "Karla", sans-serif;  
}

/* add input required */

.required:after {
  content:" *";
  color: red;
}

.required{
  float: left;
  font-family: "Karla", sans-serif; 
  font-size: 20px; 
}

input:focus:invalid  {
  background-color: rgba(241, 41, 41, 0.64);
  border: 0px;
  transition: background-color 300ms;
}

input:focus:valid {
  background-color: rgba(56, 233, 21, 0.64);
  transition: background-color 300ms;
}

/* Login main container settings  */
.signin_form { 
  display: flex;
  flex-wrap: wrap;  
}

#form_login{
  background-color: #ce8d83; 
  text-align: center;  
  width: 100%;
  padding: 10px; 
  margin: 8px 0;  
  display: inline-block;  
  border: 2px solid #ccc; 
  box-sizing: border-box; 
  font-size: 25px;
  font-family: "Kurale", sans-serif; 
  justify-content: center;
}

