  /* ---------------- */
  /*   TOPOGRAPHY     */
 /* ---------------- */

 @import url('https://fonts.googleapis.com/css2?family=Kurale&family=Raleway:ital,wght@0,100;0,200;0,500;0,700;1,100;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Karla&family=Raleway:wght@300;400&display=swap');
 @import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
 
  /* ------------------------- */
 /*   HEADER and NAVIGATION   */
/* ------------------------- */
#navbar {
  width: 100%;
  padding: 35px; 
  padding-top: 20px;
  
  background-color: rgba(80, 90, 184, 0.472);  
}

/* Style the header links */
#navbar a {
  padding: 12px;
  float: left;
  
  font-size: 18px;
  text-decoration: none;
  color: white;
}

/* Change the background color on mouse-over */
#navbar a:hover {
  border-bottom: 3px solid red;
}

/* Float the link section to the right */
#navbar-right {
  float: right; 
  padding-right: 70px;
}

#navbar-right a {
  /* font-family: "Rototo", sans-serif;   */
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
}

   /* ------------ */
  /* HERO SECTION */
 /*------------  */
 
 /* Section image */
body {
  margin: 0; 
  padding: 0;  

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/main_page.jpg"); 
}
 
main {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;  
  margin-top: 100px;  
} 

 /* Adjust banner info in the middle of Hero section */ 
.index { 
  margin: 100px 0; 
  padding: 5px;
  font-variant: small-caps;   
  font-size: 30px; 
  text-align: center; 
} 
 
.button-sign-up {
  width: 35%;
  padding: 1em 1em;

  font-size: 18px;
  font-weight: bold;
  text-decoration: none;

  border: 1px solid black;
  border-radius: 8px;

  color: black;
  background-color:red;  
} 
 
.button-sign-up:hover {
  background-image: linear-gradient(rgb(0,17,255), rgb(37,81,204));
}
 /*---------------------  */
/* forms styling section */
/* -------------------- */

/* Style the submit button with a specific background color etc */
button{
  width: 50%;
  margin: 8px 0;
  padding: 15px;

  font-size: 20px;
  border: 2px solid #ccc; 
  box-sizing: border-box; 
  
  background-color: #eb945b; 
}
  
.required {
  float: left;
  font-family: "Karla", sans-serif; 
  font-size: 20px; 
}
 
.required:after {
  content:" *";
  color: red;
}
 
input:focus:invalid  {
  background-color:red;
  border: 0px;
  transition: background-color 300ms;
}
 
input:focus:valid {
  background-color: rgba(56, 233, 21, 0.64);
  transition: background-color 300ms;
}

/* Styles legends on all pages */
legend {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

   /*----------------*/
  /*     PAGE 404   */
 /*----------------*/
.page404 {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  margin: auto;
  margin: 200px 0;
  text-align: center;
  font-size: 40px;
  color:blue;
  font-family: "Kurale", sans-serif;
}

/* -------------- */
/* FOOTER SECTION */
/* -------------- */
 
 /* Footer Section settings */
footer{
	display: flex;
  flex-wrap: wrap;
  background-color: rgba(131, 23, 126, 0.8);   
}


.footer-distributed{
	font: bold 16px sans-serif;
}
 
 
.footer-distributed .footer-left{
  width: 40%;
  padding-left: 200px;
}
 
.footer-distributed h3{
	color:  #0c0b0b;
	font: normal 40px 'Cookie', cursive;
	margin: 0;
}
 
 .footer-distributed h3 span{
	color:  #5383d3;
} 
 
.footer-distributed .footer-links{
	color:  #0e0d0d;
	margin: 20px 0 12px;
  padding: 0;
  font-size: 20px;
}

.footer-links a:hover {
  border-bottom: 3px solid red;
}
 
.footer-distributed .footer-links a{
	line-height: 1.8;
	text-decoration: none;
	color: black;
}
 
.footer-distributed .footer-company-name{
	color:black;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  black;
	font-size: 20px;
	font-weight: bold;
  margin: 20px;
  width: 130%;
}
 
.footer-company-about span {
  color:  #5383d3;
  
} 

.footer-distributed .footer-company-about span{
	display: block;
	color: solid #5B6DCD;
	font-size: 25px;
	font-weight: bold;
  margin: 10px;
  margin-right: 50px; 
  font-family: "Kurale", sans-serif;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 25px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 5px;
 	font-size: 25px;
	color: #ffffff;
	text-align: center;
 	margin-left: 20px; 
	margin-bottom: 20px;  
}

#navbar a.current {
  color: red;
}
 

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  #navbar {
    margin: 0;
    padding: 0;
  }
  #navbar a {
    text-align: center;
    float: none;
    display: block;

  }
  #navbar-right {
   float: none;
   padding: 0;
  }
  #logo {
  margin-left: 60px;
  margin-top: 10px;
  }
}