.packages{
  width: 35%;
  margin: auto;
  margin-top: 15px;
  margin-bottom :15px;
  padding: 10px;

  border-radius: 20px; 
  background-color: #e4e5eb;
}

/* packages style */
figure {
  margin: .5em;
  padding: .5em; 
  
  border: thick rgb(132, 177, 214) solid;
  box-shadow: 10px 10px 15px 2px rgb(116, 167, 184);
  
  font-size: 20px;
  text-align: left;
}

label {
  font-size: 30px;
}

figure li
{
  list-style: none;
}

figure ul {
  padding: 0;
}

button a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

button:hover {
  background-image: linear-gradient(rgb(255, 0, 64), rgb(89, 34, 218));
}

img {
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .packages {
    width: 90%;
    display: block; 
  }
  figure {
    width: 85%;
    padding: 15px;
  }
}
