  /* ---------------- */
 /* REGISTER SECTION */
/* ----------------- */

/* Adjust register container  */ 

.container_register {
  width: 40%; 
  margin: auto; 
  padding: 15px; 

  font-size: 35px;
  font-family: "Kurale", sans-serif; 
  
  border-radius: 5px;   
  box-shadow: 10px 10px 15px 2px lightblue;
  background-color: rgb(179, 163, 163);  
}

/* Add Lorem Picsum background  */ 
.register {
  background-position: center;
  background-size: cover;
  background-image: url("../images/travel.jpg");
}

/* Placement adjustments */
input[type=email], input[type=text], input[type=password] {
  width: 100%;
  margin: 8px 0;  
  padding: 15px;

  border: 2px solid #ccc; 
  box-sizing: border-box; 
}

@media screen and (max-width: 600px) {
  .container_register {
    width: 85%;
  }
}
