  /* ------------------ */
 /* REGISTER CONTAINER */
/* ------------------ */

/* Adjust register container  */ 

.container_register {
  padding: 15px ; 
  background-color: rgb(124, 110, 110); 
  border-radius: 2px;   
  box-shadow: 10px 10px 15px 2px rgb(173, 183, 230);  
  width: 30%; 
  margin: auto; 
  font-size: 35px;
  font-family: "Kurale", sans-serif; 
}

/* Adjust register header */ 

.container_register h2 { 
  font-size: 35px; 
  text-align: center;  
} 

/* Add Lorem Picsum background  */ 
.sky {
  margin: 0; 
  background-image: url("../images/travel.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Placement adjustments */
input[type=email], input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 8px 0;  
  display: inline-block;  
  border: 2px solid #ccc; 
  box-sizing: border-box; 
  font-size: 15px;
  font-family: "Karla", sans-serif; 
}

/* add input required */
.required:after {
  content:" *";
  color: red;
}

input:focus:invalid  {
  background-color: rgba(241, 41, 41, 0.64);
  border: 0px;
  transition: background-color 300ms;
}

input:focus:valid {
  background-color: rgba(56, 233, 21, 0.64);
  transition: background-color 300ms;
}

.register_form {
  align-self: flex-start; 
  display: flex;
  font-family: "Kurale", sans-serif; 
  flex-wrap: wrap; 
  justify-items: center; 
  align-items: center;
}

button{
  width: 50%;
  background-color: #ce8d83; 
  padding: 15px;
  margin: 8px 0;  
  display: inline-block;  
  border: 2px solid #ccc; 
  box-sizing: border-box; 
  font-size: 20px;

}

